body{
    width:100%;
}
.navbar{
    background-color: #EF562D !important;
}

.sidebar{
    height: 100vh;
}

main{
    height: 100vh;
    overflow: scroll;
    padding:20px;
}

h1,h2{
    margin-bottom:20px;
}
.card-deck{
    width:350px;
    padding:20px;
}

/* Weekly Cleaning Schedule */

#week-overview{
    height:90%;
    margin-bottom:25px;
    overflow: scroll;
}

.list-group{
    margin-bottom:20px !important;
}

