{% extends 'kitchen_app/base_dashboard.html' %}

{% block title %}Cleaning Schedule{% endblock %}

{% block content %}
<div>
    <h1>Cleaning Schedule</h1>
    <hr>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
    <div>
        {% if weeks %}

        <ul class="list-group">
            {% for week in weeks %}
            <li class="list-group-item d-inline-flex">
                <div class="p-2">
                    <h2>Week</h2>
                    {{ week.week }}
                </div>
                <div class="p-2">
                    <h2>Start</h2>
                    {{ week.weekStart }}
                </div>
                <div class="p-2">
                    <h2>End</h2>
                    {{ week.weekEnd }}
                </div>
                {% for takenWeek in takenWeeks %}
                {% if takenWeek.deadline == week.week %}
                <div class="p-2 taken">
                    <h2>User</h2>
                    {{ takenWeek.user }}
                </div>
                {% endif %}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>

        {% endif %}

    </div>
    <div>
        <h2>Create Weekly Schedule</h2>
        <form action="{% url 'kitchen_app:schedule' room.pk %}" method="POST">
            {% csrf_token %}
            <input required type="week" id="week" name="week">
            <select name="members_choice" id="members_choice">
                {% for member in members %}
                <option value="{{ member.user.username }}">{{ member.user.username }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="add" name="addBtn" class="btn btn-primary">
        </form>
    </div>

</div>
{% endblock %}
{% block footer %}
<script>
    var elem = document.querySelectorAll(".taken");
    for (let i = 0; i < elem.length; i++) {
        elem[i].parentNode.style.backgroundColor = "lightgreen";
    }


</script>
{% endblock %}