{% extends 'kitchen_app/base_dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div>
    <h1>Hi you entered the dashboard {{ room.name }}</h1>
    <hr>
    <div>
        <h2>Your tasks</h2>
        {% if assignedTasks %}
        {% for task in assignedTasks %}
        <form class="list-group-item" action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="taskID" value="{{ task.pk }}">
            <div>{{ task.task }} </div>
            {% if task.type == "clean" %}
            <a href="{% url 'kitchen_app:weekly_cleaning' room.pk %}">Cleaning link</a>
            {% else %}
            <input type="submit" value="Done" name="doneBtn" class="btn btn-success">
            {% endif %}
        </form>
        {% endfor %}
        {% endif %}
    </div>
    <hr>
    <div>
        <h2>Tasks to take</h2>
        {% if unassignedTasks %}
        {% for task in unassignedTasks %}
        <form class="list-group-item" action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="taskID" value="{{ task.pk }}">
            <div>{{ task.task }}</div>
            <button name="takeTaskBtn" class="btn btn-primary">Take task</button>
            <button name="removeBtn" class="btn btn-danger">Remove</button>
        </form>
        {% endfor %}
        {% endif %}
        <hr>
        <form class="list-group-item" action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
            {% csrf_token %}
            <input type="text" name="task" placeholder="task">
            <input class="btn btn-primary" name="addTaskBtn" type="submit" value="Add a task">
        </form>
    </div>
</div>
{% endblock %}