{% extends 'kitchen_app/base_dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div>
    <div style="width:100%; height:220px; background-image: url('  {{ room.backgroundImage }}'); margin-bottom:40px">
    </div>

    <h1>Hi you entered the dashboard {{ room.name }}</h1>
    <hr>
    <div>
        <h2>Your tasks</h2>
        {% if assignedTasks %}
        {% for task in assignedTasks %}
        <form class="list-group-item" action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="taskID" value="{{ task.pk }}">
            <div>{{ task.task }} </div>
            {% if task.type == "clean" %}
            <a href="{% url 'kitchen_app:weekly_cleaning' room.pk %}">Cleaning link</a>
            {% else %}
            <input type="submit" value="Done" name="doneBtn" class="btn btn-success">
            {% endif %}
        </form>
        {% endfor %}
        {% else %}
        <div>No tasks</div>
        {% endif %}
    </div>
    <hr>
    <a href="{% url 'kitchen_app:completed_task' room.pk %}">See your completed tasks</a>
    <hr>
    <div>
        <h2>Upcoming events</h2>
        <div class="container d-flex ">
            {% if events %}
            {% for event in events %}
            <div class="card-deck text-center">
                <div class="card ">
                    <div class="card-header" {% if event.type == "kitchenMeeting" %} style="background-color: pink"
                        {% elif event.type == "kitchenCleaning" %} style="background-color: paleturquoise" {% else %}
                        style="background-color: lightgreen" {% endif %}>
                        <h4 class="my-0 font-weight-normal">{{event.title}}</h4>
                    </div>
                    <div class="card-body">
                        {% if event.start_date == event.end_date %}
                        <p>on the {{ event.start_date }}</p>
                        {% else %}
                        <p>from the {{ event.start_date }} to {{ event.end_date }}</p>
                        {% endif %}
                        <a href="{% url 'kitchen_app:event' room.pk event.pk %}"
                            class="btn btn-lg btn-block btn-outline-primary">
                            See event
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% else %}
            <div>No events</div>
            {% endif %}

        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create an event
        </button>
    </div>
    <hr>
    <div>
        <h2>Tasks to take</h2>
        {% if unassignedTasks %}
        {% for task in unassignedTasks %}
        <form class="list-group-item" action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="taskID" value="{{ task.pk }}">
            <div>{{ task.task }}</div>
            <button name="takeTaskBtn" class="btn btn-primary">Take task</button>
            <button name="removeBtn" class="btn btn-danger">Remove</button>
        </form>
        {% endfor %}
        {% endif %}
        <hr>
        <form class="list-group-item" action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
            {% csrf_token %}
            <input type="text" name="task" placeholder="task">
            <input class="btn btn-primary" name="addTaskBtn" type="submit" value="Add a task">
        </form>
    </div>
    <hr>
    <div>
        <h2>Notes</h2>
        <div class="row mb-2">
            {% if posts %}
            {% for post in posts %}
            <div class="col-md-6">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h4 class="mb-0"> {{ post.text }}</h4>
                        <p class="card-text mb-auto">by {{ post.user }}</p>
                        <p class="card-text mb-auto">on the {{ post.created_at }}</p>
                        {% if postLikes %}
                        {% for like in postLikes %}
                        {% if like.post.pk == post.pk %}
                        <span class="badge badge-primary">Likes: {{ like.numberOfLikes }} </span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        <div id="comment-section + {{ post.pk }}" style="display: none">
                            <form action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="postID" value="{{ post.pk }}">
                                <textarea name="comment" id="comment" rows="4"></textarea>
                                <input class="btn btn-dark" name="commentBtn" type="submit" value="Comment">

                            </form>
                            <button class="btn btn-dark btn-sm"
                                onClick="document.getElementById('comment-section + {{ post.pk }}').style.display = 'none';">Close</button>
                        </div>
                        <button class="btn btn-outline-primary"
                            onClick="document.getElementById('comment-section + {{ post.pk }}').style.display = 'block';">Comment</button>
                        <form action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="postID" value="{{ post.pk }}">
                            <button class="btn btn-light btn-sm" name="likeBtn">Like</button>
                            {% if post.user == user %}
                            <button class="btn btn-danger btn-sm" name="removePostBtn">Remove</button>
                            {% endif %}
                        </form>
                        {% if comments %}
                        {% for comment in comments %}
                        {% if comment.parent.pk == post.pk %}
                        <div
                            style="background-color: rgb(226, 226, 226); border-radius: 10px; padding:10px; margin:10px;">
                            <h6>{{ comment.text }}</h6>
                            <p>by {{ comment.user }}</p>
                            {% if commentLikes %}
                            {% for like in commentLikes %}
                            {% if like.comment.pk == comment.pk %}
                            <span class="badge badge-primary">Likes: {{ like.numberOfLikes }} </span>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <form action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="commentID" value="{{ comment.pk }}">
                                <button class="btn btn-light btn-sm" name="commentLikeBtn">Like</button>
                                {% if comment.user == user %}
                                <button class="btn btn-danger btn-sm" name="removeCommentBtn">Remove</button>
                                {% endif %}

                            </form>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}


                    </div>

                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>no posts</p>
            {% endif %}
        </div>
        <form class="list-group-item" action="{% url 'kitchen_app:enter_room' room.pk %}" method="POST">
            {% csrf_token %}
            <textarea type="text" name="post" rows="5"> Post </textarea><br>
            <input class="btn btn-primary" name="addPostBtn" type="submit" value="Add a post">
        </form>
    </div>
    <hr>
</div>
{% endblock %}
{% block footer %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create an event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'kitchen_app:create_event' room.pk %}" method="POST">
                    {% csrf_token %}
                    <label for="title">Title</label>
                    <input required type="text" maxlength="100" name="title" placeholder="event title"><br>
                    <label for="description">Description</label>
                    <input required type="text" maxlength="200" name="description" placeholder="event description"><br>
                    <label for="start">Start</label>
                    <input required type="date" name="start" placeholder="start date"><br>
                    <label for="end">End</label>
                    <input required type="date" name="end" placeholder="end date"><br>
                    <label for="type">Type</label>
                    <select name="type" id="type">
                        <option value="getTogether">Get Together</option>
                        <option value="kitchenMeeting">Kitchen Meeting</option>
                        <option value="kitchenCleaning">Kitchen Cleaning</option>
                    </select>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Create event">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{% endblock %}