{% extends 'kitchen_app/base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

<h1>Hello you! {{ user.username }}</h1>
<div class="container d-flex ">
    {% if rooms %}
    {% for room in rooms %}
    <div class="card-deck text-center">
        <div class="card ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{room.name}}</h4>
            </div>
            <div class="card-body">
                <a href="{% url 'kitchen_app:enter_room' room.pk %}" class="btn btn-lg btn-block btn-outline-primary">
                    Enter Room
                </a>

            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div>No rooms</div>
    {% endif %}

</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Create a room
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'kitchen_app:create_room' %}" method="POST">
                    {% csrf_token %}
                    <input required type="text" name="name" placeholder="room name">
                    <input required type="text" name="dorm" placeholder="dorm name">
                    <input type="submit" class="btn btn-primary" value="Create room">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{% endblock %}