{% extends 'kitchen_app/base_dashboard.html' %}

{% block title %}Members{% endblock %}

{% block content %}
<h1>Members</h1>
<ul class="list-group">
    {% for member in members %}
    <form class="list-group-item" action="{% url 'kitchen_app:members' room.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="chatToID" value="{{ member.user.pk }}">
        <h3>{{ member.user }}</h3>
        <span class="badge badge-light">{{ member.status }}</span><br>
        <button name="chatBtn" class="btn btn-sm btn-success"> Chat with {{ member.user }}</button>
    </form>
    {% endfor %}
</ul>
{% endblock %}