{% extends 'kitchen_app/base_dashboard.html' %}

{% block title %}Members{% endblock %}

{% block content %}
<h1>Members</h1>
<ul class="list-group">
    {% for member in members %}
    <ul class="list-group-item" action="{% url 'kitchen_app:members' room.pk %}" method="POST">
        <h3>{{ member.user }}</h3>
        <span class="badge badge-light">{{ member.status }}</span>
    </ul>
    <a class="nav-link active" href="{% url 'chat:index'%}" target="_blank">
        Chat with {{ member.user }}
    </a>
    {% endfor %}
</ul>
{% endblock %}