{% extends 'kitchen_app/base_dashboard.html' %}

{% block title %}Members{% endblock %}

{% block content %}
<h1>Your profile</h1>
<ul class="list-group">
    <li class="list-group-item"> Username: {{ user.username}}
    </li>
    <li class="list-group-item"> Email: {{ user.email}}
    </li>
    <li class="list-group-item"> First Name: {{ user.first_name}}
    </li>
    <li class="list-group-item"> Last Name: {{ user.last_name}}
    </li>
</ul>
<button class="btn btn-lg btn-primary">Edit profile</button>
{% endblock %}