{% extends 'kitchen_app/base_dashboard.html' %}

{% block title %}Weekly Cleaning{% endblock %}

{% block content %}
<div>
    <h1>Weekly Cleaning</h1>
    {% if subtasks %}
    {% for task in subtasks %}
    <form class="list-group-item" action="{% url 'kitchen_app:weekly_cleaning' room.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="taskID" value="{{ task.pk }}">
        <div>{{ task.taskDescription }} {{ task.status }}</div>
        {% if task.status == False %}
        <input type="submit" value="Done" name="doneBtn" class="btn btn-success">
        {% else %}
        <input type="submit" disabled value="Done" name="doneBtn" class="btn btn-light">
        {% endif %}
    </form>
    {% endfor %}
    {% endif %}
</div>
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>alert("{{ message }}")</script> {% endif %}

{% endfor %}

{% endif %}
{% endblock %}