<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <a href="#">Reset Password</a>
    <a href="{% url 'login_app:sign_up' %}">Create Account</a>
    <hr>
    <form action="{% url 'login_app:login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <br />
        <input type="password" name="password" placeholder="Password">
        <br />
        <input type="submit" value="Login">
    </form>
    <hr>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
</body>

</html>