{% extends 'login_app/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<form action="{% url 'login_app:login' %}" method="POST" class="form-signin">
    {% csrf_token %}
    <input required class="form-control" type="text" name="username" placeholder="username">
    <input required class="form-control" type="password" name="password" placeholder="Password">
    <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block">
</form>
<div class="links">
    <a href="{% url 'login_app:request_password_reset' %}">Reset Password</a>
    <a href="{% url 'login_app:sign_up' %}">Create Account</a>
</div>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
{% endblock %}