<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Password Reset</title>
</head>

<body>
    <h1>Password Reset</h1>
    <a href="{% url 'login_app:login' %}">Log In</a>
    <hr />
    <form action="{% url 'login_app:password_reset' %}" method="POST" class="form-signin" style="width:20%;">
        {% csrf_token %}
        <input required class="form-control" type="email" name="email" placeholder="email">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset Password">
    </form>
    <hr />
    {% if message %}{{ message }}{% endif %}
</body>

</html>