<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>New Password</title>
</head>

<body>
    <h1>Set a new password</h1>
    <hr />
    <form action="{% url 'login_app:password_reset_form' %}" method="POST" class="form-signin" style="width:20%;">
        {% csrf_token %}
        <input type="email" name="email" required class="form-control" placeholder="Email Address">
        <input type="password" name="password" required class="form-control" placeholder="Password">
        <input type="password" name="confirm_password" required class="form-control" placeholder="Confirm Password">
        <input type="hidden" name="secret" value="{{ secret }}">
        <input type="submit" value="Set New Password" class="btn btn-lg btn-primary btn-block">
    </form>
    <hr />
    {% if error %}{{ error }}{% endif %}
</body>

</html>