<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <a href="{% url 'login_app:login' %}">Log In</a>
    <hr>
    <form action="{% url 'login_app:sign_up' %}" method="POST" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input required class="form-control" type="text" name="username" placeholder="username">
        <input required class="form-control" type="email" name="email" placeholder="Email Address">
        <input required class="form-control" type="password" name="password" placeholder="password">
        <input required class="form-control" type="password" name="confirm_password" placeholder="confirm Password">
        <input type="submit" value="Sign Up" class="btn btn-lg btn-primary btn-block">
    </form>
    <hr>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
</body>

</html>