{% extends 'login_app/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<form action="{% url 'login_app:sign_up' %}" method="POST" class="form-signin">
    {% csrf_token %}
    <input required class="form-control" type="text" name="username" placeholder="username">
    <input required class="form-control" type="email" name="email" placeholder="Email Address">
    <input required class="form-control" type="password" name="password" placeholder="password">
    <input required class="form-control" type="password" name="confirm_password" placeholder="confirm Password">
    <input type="submit" value="Sign Up" class="btn btn-lg btn-primary btn-block">
</form>
<div class="links">
    <a href="{% url 'login_app:login' %}">Log In</a>
</div>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
{% endblock %}